.MovieCard {
  position: relative;
  overflow: hidden;
  border-radius: 1.5em;
  margin: 2px;

  &::before {
    content: "";
    display: block;
    padding-top: 130%;
  }

  &-content {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
  }

  &-background {
    width: 100%; height: 100%;
    
    img {
      width: 100%; height: 100%;
      object-fit: cover;
    }
  }
  
  &-shadow {
    width: 100%; height: 100%;
    position: absolute;
    top: 0;

    background: rgb(33,33,33);
    background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(33,33,33,0) 80%, rgba(33,33,33,0) 100%);
  }

  &-name {
    position: absolute;
    left: 1em; bottom: 1em;
    width: calc(100% - 2em);
  }

  &-check {
    position: absolute;
    top: .8em; right: .8em;
    width: 1.5em; height: 1.5em; 

    img {
      width: 100%; height: 100%;
      filter: invert(1)
        drop-shadow(0 3px 10px #000000);
      opacity: 60%;
      
      &.checked {
        opacity: 1;
        filter: invert(77%) sepia(53%) saturate(2612%) hue-rotate(357deg) brightness(97%) contrast(108%)
          drop-shadow(0 3px 10px #000000);
      }
    }
  }
}

.MovieItem {
  overflow: hidden;
  border-radius: 1.5em;
  height: 60px;

  background-color: var(--main2-color);
  display: flex;
  align-items: center;

  &-image {
    position: relative;
    width: 100px;
    min-width: 100px;

    img {
      width: 100%; height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      display: block;
      width: 100%; height: 100%;
      position: absolute;
      top: 0;

      background: rgb(33,33,33);
      background: linear-gradient(90deg, rgba(33,33,33,0) 0%, rgba(33,33,33,0) 30%, rgba(33,33,33,.9) 80%, rgba(33,33,33,1) 100%);
    }
  }

  &-description {
    padding: 1.5em;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  &-date {
    color: var(--contrast2-color);
  }

  &-episode {
    display: block;
    font-size: var(--xsmall-font-size);
  }
}

.MovieList {
  // overflow: hidden;

  &-items {
    // overflow-y: auto;
    height: calc(100% - 3em);
    padding-right: 10px;

    & > div {
      margin-bottom: 15px;
    }
  }

  &-empty {
    height: calc(100% - 2em);
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--main2-color);
    font-size: var(--medium-font-size);
    font-weight: 900;

    span {
      margin-bottom: 2em;
    }
  }

  &-name {
    font-size: var(--medium-font-size);
    font-weight: 900;

    margin-bottom: 1em;

    span {
      font-size: var(--small-font-size);
      color: var(--contrast2-color);
      font-weight: 700;
    }
  }
}

.MoviesBoard {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);

  height: 100%;
  
  &-column {
    padding: 30px;
    overflow: hidden;

    display: grid;

    &:first-of-type {
      border-right: 1px solid var(--contrast2-color);
    }

    &:last-of-type {
      border-left: 1px solid var(--contrast2-color);
    }

    &:nth-last-of-type(-n+2) {
      & > div {
        &:first-of-type {
          padding-bottom: 30px;
          border-bottom: 1px solid var(--contrast2-color);
        }

        &:last-of-type {
          padding-top: 30px;
        }
      }
    }
  }
}