.HomePage {
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 100%; width: 100%;
  
  &-menu {
    padding: 30px;
    background-color: var(--main2-color);

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 30px;

    .ProfileHead {
      
      .ProfileHead-images {
        margin: -30px;
        margin-bottom: 0;
      }
    }

    &-list {
      display: grid;
      height: fit-content;
      gap: 15px;
    }
  }

  &-content {
    padding: 30px;
    height: 100vh;
    overflow-y: auto;
  }

  *[data-hidden=hidden] {
    display: none;
  }
}