.CalendarPage {
  display: grid;
  grid-template-columns: 5fr 4fr;

  & > * {
    padding: 30px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 30px;

    height: calc(100vh - 60px);
  }

  &-subscribes {
    border-left: 1px solid var(--contrast2-color);

    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
      height: fit-content; max-height: 100%;
      gap: 25px;
  
      overflow-y: auto;
      padding-right: 10px;
    } 
  }

  &-scheduleList {
    overflow-y: auto;

    &-separator {
      display: flex;
      align-items: center;
      justify-content: stretch;

      color: var(--contrast2-color);
      margin: 5px 0 20px 0;

      position: relative;

      span {
        margin: 0 30px;
      }

      &::before {
        content: "";
        display: block;
        border: 1px solid var(--contrast2-color);
        width: 100%;
      }

      &-scroll {
        position: absolute;
        top: -125px;
      }
    }
  }
}