.App {
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 100%; width: 100%;
  
  &-menu {
    padding: 30px;
    background-color: var(--main2-color);

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 30px;

    .ProfileHead {
      
      .ProfileHead-images {
        margin: -30px;
        margin-bottom: 0;
      }
    }

    &-list {
      display: grid;
      height: fit-content;
      gap: 15px;
    }
  }

  &-content {
    padding: 30px;
    height: 100vh;
    overflow-y: auto;
  }
}

.Input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  border-radius: 22px;
  background-color: var(--main2-color);
  padding: .7em 1.6em;

  font-size: var(--small-font-size);
  font-weight: 700;
  
  position: relative;

  &-icon {
    width: 20px; height: 20px;
    margin: -.5em 0;
    margin-right: -.3em;

    img {
      width: 100%; height: 100%;
      object-fit: contain;
    }
  }
  
  input {
    background-color: var(--main2-color);
    width: 100%;
    color: var(--contrast1-color);
    z-index: 1;

    font-weight: inherit;
    font-size: inherit;

    &:focus {
      outline: unset;

      ~.Input-focus {
        visibility: visible;
      }
    }

    &::placeholder {
      color: var(--contrast1-color);
      opacity: 10%;
    }
  }

  .Input-focus {
    visibility: hidden;

    position: absolute;
    z-index: 0;
    width: 100%; height: 100%;
    left: 0; top: 0;
    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 15px -5px var(--contrast2-color); 
    box-shadow: 0px 0px 1em -5px var(--contrast2-color);
  }
}

.Button {
  display: inline-block;
  
  button {
    font-size: var(--medium-font-size);
    font-weight: 900;
    background-color: var(--contrast2-color);
    color: var(--contrast1-color);
    border-radius: 25px;
    
    padding: 15px 25px;
    min-width: 240px;
  }
}

/* Customize the label (the Checkbox) */
.Checkbox {
  cursor: pointer;

  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: var(--small-font-size);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 0; width: 0;

    &:checked ~ .checkmark {
      background-color: var(--contrast2-color);
      -webkit-box-shadow: none; 
      box-shadow: none;

      &:after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    height: 25px; width: 25px;

    background-color: var(--main2-color);
    border-radius: 7px;
    border: 1px solid #ffb30041;
    -webkit-box-shadow: 0px 0px 10px -3px var(--contrast2-color); 
    box-shadow: 0px 0px 10px -3px var(--contrast2-color);

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}

.NotFound {
  height: 100%;
  overflow: hidden;

  position: relative;

  &-text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-110%, -100%);
    z-index: 1;
    
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    h1 {
      font-size: 240px;
      color: var(--contrast2-color);
      line-height: .8em;
    }
    h2 {
      font-size: 20px;
      color: #af002c;
    }
    
    span {
      font-weight: 900;
      margin-top: 1.5em;
      font-size: var(--large-font-size);
    }
  }

  &-image {
    position: absolute;
    right: 60px; bottom: 0;
    height: 100%;

    img {
      height: 100%;
    }
  }
}